<div class="container custom-container-2">

    <!-- Show it when there is no employee -->
    <div class="no-data text-center" *ngIf="Employees">
      <p>There is no employee added yet!</p>
      <button class="btn btn-outline-primary" routerLink="/emp-create">Add Employee</button>
    </div>
  
    <!-- Employees list table, it hides when there is no employee -->
    <div *ngIf="Employees">
      <h3 class="mb-3 text-center">Employees List</h3>
  
      <div class="col-md-12">
        <table class="table table-bordered" border="2" style="text-align:center">
          <thead>
            <tr>
              <th scope="col">Employee Id</th>
              <th scope="col"> Emp Name</th>
              <th scope="col">Designation</th>
              <th scope="col">Address</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of Employees">
              <td>{{employee.empId}}</td>
              <td>{{employee.empName}}</td>
              <td>{{employee.empDesignation}}</td>
              <td>{{employee.empAddress}}</td>
              <td>
                <!-- <span class="edit" routerLink="/emp-edit/{{employee.empId}}">Edit</span> &nbsp;&nbsp;
                <span class="delete" (click)="deleteEmployee(employee.empId)">Delete</span> -->

                <button class="edit" routerLink="/emp-edit/{{employee.empId}}">Edit</button> &nbsp;&nbsp;
                <button class="delete" (click)="deleteEmployee(employee.empId)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  
  </div>